<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fthink.dao.BehaviorDataMapper">
	<resultMap id="BaseResultMap" type="fthink.entity.BehaviorData">
		<id column="DEVICE_NO" property="deviceNo" jdbcType="VARCHAR" />
		<id column="COUNT_DATE" property="countDate" jdbcType="VARCHAR" />
		<id column="DATA_TYPE" property="dataType" jdbcType="VARCHAR" />
		<result column="DATA_TIME" property="dataTime" jdbcType="VARCHAR" />
		
		<result column="MAGNETIC_CARD_NUM" property="magneticCardNum" jdbcType="INTEGER" />
		<result column="NON_CONNECTED_IC_NUM" property="nonConnectedIcNum" jdbcType="INTEGER" />
		<result column="CONTACT_IC_NUM" property="contactIcNum" jdbcType="INTEGER" />
		<result column="CIPHER_KEYBOARD_NUM" property="cipherKeyboardNum" jdbcType="INTEGER" />
	</resultMap>
	
	
	<sql id="Base_Column_List">
		DEVICE_NO,COUNT_DATE,DATA_TYPE,DATA_TIME,MAGNETIC_CARD_NUM,NON_CONNECTED_IC_NUM,CONTACT_IC_NUM,CIPHER_KEYBOARD_NUM
	</sql>
	
	<select id="selectByPrimaryKeys" parameterType="java.util.Map" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from t_behavior_data t
		<where>
			t.DEVICE_NO = #{deviceNo} and  t.DATA_TYPE = #{dataType}
			and t.COUNT_DATE &gt;= #{minDate} AND t.COUNT_DATE &lt;= #{maxDate}
		</where>
		order by COUNT_DATE desc
	</select>
	
	<select id="selectByAllPrimaryKey" parameterType="java.util.Map" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from t_behavior_data t
		<where>
			t.DEVICE_NO = #{deviceNo} and  t.DATA_TYPE = #{dataType} and t.COUNT_DATE = #{date}
		</where>
		order by COUNT_DATE desc
	</select>
	
</mapper>