<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fthink.dao.DataSwitchTimesMapper">
	<resultMap id="BaseResultMap" type="fthink.entity.DataSwitchTimesInfo">
		<id column="DEVICE_NO" property="device_no" jdbcType="VARCHAR" />
		<id column="ANALY_DATE" property="analy_date" jdbcType="VARCHAR" />
		<result column="SWITCH_TIMES" property="switch_times" jdbcType="INTEGER" />
		<result column="LAST_MODIFY_TIME" property="last_modify_time" jdbcType="VARCHAR" />
	</resultMap>


	<sql id="Base_Column_List">
		DEVICE_NO,ANALY_DATE,SWITCH_TIMES,LAST_MODIFY_TIME
	</sql>

	<insert id="insert" parameterType="fthink.entity.DataSwitchTimesInfo">
		insert into t_data_switch_times (DEVICE_NO,ANALY_DATE,SWITCH_TIMES,LAST_MODIFY_TIME)
		values (#{device_no,jdbcType=VARCHAR}, #{analy_date,jdbcType=VARCHAR},
		#{switch_times,jdbcType=INTEGER},#{last_modify_time,jdbcType=VARCHAR})
	</insert>
	
	<update id="updateByPrimaryKey" parameterType="fthink.entity.DataSwitchTimesInfo">
		update t_data_switch_times 
		set
			DEVICE_NO = #{device_no,jdbcType=VARCHAR},
			ANALY_DATE = #{analy_date,jdbcType=VARCHAR},
			SWITCH_TIMES = #{switch_times,jdbcType=INTEGER},
			LAST_MODIFY_TIME = #{last_modify_time,jdbcType=VARCHAR}
		where 
			DEVICE_NO = #{device_no,jdbcType=VARCHAR} and 
			ANALY_DATE = #{analy_date,jdbcType=VARCHAR}
	</update>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="fthink.entity.DataSwitchTimesInfo">
		select * from t_data_switch_times 
		where DEVICE_NO=#{device_no,jdbcType=VARCHAR} and ANALY_DATE=#{analy_date,jdbcType=VARCHAR} 
	</select>
	
	<select id="selectFiveData" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT <include refid="Base_Column_List"/>
		FROM (SELECT <include refid="Base_Column_List"/>
		      FROM t_data_switch_times t
		      <where>
					t.DEVICE_NO = #{device_no,jdbcType=VARCHAR}
			  </where>
		      ORDER BY t.ANALY_DATE DESC
		      LIMIT 5) t1
		ORDER BY t1.SWITCH_TIMES DESC
	</select>

</mapper>