<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fthink.dao.TermPositionFlowMapper">
	<resultMap id="BaseResultMap" type="fthink.entity.TermPositionFlow">
		<result property="uuid" column="UUID" jdbcType="VARCHAR" />
		<result property="device_no" column="DEVICE_NO" jdbcType="VARCHAR" />
		<result property="baseStation" column="BASE_STATION" jdbcType="VARCHAR" />
		<result property="longitude" column="LONGITUDE" jdbcType="VARCHAR" />
		<result property="latitude" column="LATITUDE" jdbcType="VARCHAR" />
		<result property="province" column="PROVINCE" jdbcType="VARCHAR" />
		<result property="city" column="CITY" jdbcType="VARCHAR" />
		<result property="county" column="COUNTY" jdbcType="VARCHAR" />
		<result property="createTm" column="CREATE_TM" jdbcType="VARCHAR" />
		<result property="network_name" column="NETWORK_NAME" jdbcType="VARCHAR" />
		<result property="network_type" column="NETWORK_TYPE" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		UUID,DEVICE_NO,BASE_STATION,LONGITUDE,LATITUDE,PROVINCE,CITY,COUNTY,CREATE_TM,NETWORK_NAME,NETWORK_TYPE
	</sql>

	<select id="selectByDeviceNo" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="Base_Column_List"/> 
		from t_term_position_flow t
		where DEVICE_NO = #{device_no,jdbcType=VARCHAR}
		and CREATE_TM like CONCAT(#{nowDate},'%')
	</select>


	<select id="selectAllTermNo" resultMap="BaseResultMap" parameterType="java.util.Map">
		SELECT DEVICE_NO FROM t_term_position_flow where substring(CREATE_TM,1,8) = #{beforeDate}  GROUP BY DEVICE_NO 
	</select>
	
	<select id="selectByPrimaryKeys" resultMap="BaseResultMap" parameterType="java.util.Map">
		SELECT t.* FROM t_term_position_flow t 
		<where>
			t.DEVICE_NO = #{termNo} 
			 and (substring(t.CREATE_TM,1,8) = #{beforeDate}) 
		</where>
		order by t.CREATE_TM
	</select>

	<select id="listDeviceNo" resultMap="BaseResultMap">
		select DEVICE_NO from t_term_position_flow group by DEVICE_NO
	</select>
</mapper>