<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fthink.dao.TermTrafficDayMapper" >
  <resultMap id="BaseResultMap" type="fthink.entity.TermTrafficDay" >
    <id column="DEVICE_NO" property="termNo" jdbcType="VARCHAR" />
    <id column="USE_DATE" property="useDate" jdbcType="VARCHAR" />
    <result column="TRAFFIC_TYPE" property="trafficType" jdbcType="VARCHAR" />
    <result column="TRAFFIC" property="traffic" jdbcType="VARCHAR" />
    <result column="CREATE_TM" property="createTm" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    DEVICE_NO, USE_DATE, TRAFFIC, CREATE_TM,TRAFFIC_TYPE
  </sql>
  
  <select id="getTermNos" resultMap="BaseResultMap" parameterType="java.util.Map">
  	<![CDATA[
  		select DEVICE_NO from t_term_traffic_day where USE_DATE<=#{endDate} and USE_DATE>=#{startDate} group by DEVICE_NO
  	]]>
  </select>
  
  <select id="selectOneByConditions" resultMap="BaseResultMap" parameterType="fthink.entity.TermTrafficDayKey">
  	select * from t_term_traffic_day
  	<where>
  		<if test="useDate!=null and useDate!=''">
  			and USE_DATE = #{useDate}
  		</if>
  		<if test="termNo!=null and termNo!=''">
  			and DEVICE_NO = #{termNo}
  		</if>
  	</where>
  </select>
  
  <select id="selectByDeviceNo" resultType="java.util.Map" parameterType="java.util.Map">
  	SELECT
		DEVICE_NO as deviceNo, sum(traffic) AS traffic, count(1) as num 
	FROM
		t_term_traffic_day where USE_DATE&lt;=#{endDate} and USE_DATE>=#{startDate}  GROUP BY DEVICE_NO
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="fthink.entity.TermTrafficDayKey" >
    select 
    <include refid="Base_Column_List" />
    from t_term_traffic_day
    where DEVICE_NO = #{termNo,jdbcType=VARCHAR}
      and USE_DATE = #{useDate,jdbcType=VARCHAR}
      and TRAFFIC_TYPE = #{trafficType}
  </select>
  
  
  
</mapper>