<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fthink.dao.TermDynMapper" >
  <resultMap id="BaseResultMap" type="fthink.entity.TermDyn" >
    <id column="DEVICE_NO" property="deviceNo" jdbcType="VARCHAR" />
    <result column="LATEST_ACCESS_TM" property="latestAccessTm" jdbcType="VARCHAR" />
    <result column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="BASE_STATION" property="baseStation" jdbcType="VARCHAR" />
    <result column="LONGITUDE" property="longitude" jdbcType="VARCHAR" />
    <result column="LATITUDE" property="latitude" jdbcType="VARCHAR" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="COUNTY" property="county" jdbcType="VARCHAR" />
    <result column="HARDWARE_STAT_BMP" property="hardwareStatBmp" jdbcType="VARCHAR" />
    <result column="ERROR_INF" property="errorInf" jdbcType="VARCHAR" />
    <result column="ANDROID_VERSION" property="androidVersion" jdbcType="VARCHAR" />
    <result column="HW_VERSION" property="hwVersion" jdbcType="VARCHAR" />
    <result column="SP_VERSION" property="spVersion" jdbcType="VARCHAR" />
    <result column="ROM_VERSION" property="romVersion" jdbcType="VARCHAR" />
    <result column="KERNEL_VERSION" property="kernelVersion" jdbcType="VARCHAR" />
    <result column="NETWORK_STATUS" property="networkStatus" jdbcType="VARCHAR" />
    <result column="NETWORK_TYPE" property="networkType" jdbcType="VARCHAR" />
    <result column="PARAM_VER" property="paramVer" jdbcType="VARCHAR" />
    <result column="CREATE_TM" property="createTm" jdbcType="VARCHAR" />
    <result column="LAST_MODIFY_TM" property="lastModifyTm" jdbcType="VARCHAR" />
    <result column="SHIFT_FLAG" property="shiftFlag" jdbcType="CHAR" />
    <result column="SECURITY_TYPE" property="securityType" jdbcType="VARCHAR" />
    <result column="DEVICE_MODEL_NO" property="deviceModelNo" jdbcType="VARCHAR" />
    <result column="CPU_ID" property="cpuId" jdbcType="VARCHAR" />
    <result column="FLASH_ID" property="flashId" jdbcType="VARCHAR" />
    <result column="MAC" property="mac" jdbcType="VARCHAR" />
    <result column="HASH" property="hash" jdbcType="VARCHAR" />
    <result column="IDENTIFY_STATUS" property="identifyStatus" jdbcType="CHAR" />
    <result column="SSID" property="ssid" jdbcType="VARCHAR" />
    <result column="BSSID" property="bssid" jdbcType="VARCHAR" />
    <result column="DNS" property="dns" jdbcType="VARCHAR" />
    <result column="IMEI" property="imei" jdbcType="VARCHAR" />
    <result column="SCREEN_SIZE" property="screenSize" jdbcType="VARCHAR" />
    <result column="SCREEN_RESOLUTION" property="screenResolution" jdbcType="VARCHAR" />
    <result column="MEMORY_SIZE" property="memorySize" jdbcType="VARCHAR" />
    <result column="BATTERY_RATE" property="batteryRate" jdbcType="VARCHAR" />
    <result column="ROM_RATE" property="romRate" jdbcType="VARCHAR" />
    <result column="ROM_SIZE" property="romSize" jdbcType="VARCHAR" />
    
    <result column="SHIFT_LONGITUDE" property="shiftLongitude" jdbcType="VARCHAR" />
    <result column="SHIFT_LATITUDE" property="shiftLatitude" jdbcType="VARCHAR" />
    
    <result column="CARD_READER_PER_LEVEL" property="cardReaderPerLevel" jdbcType="VARCHAR" />
    <result column="APP_NET_PER_LEVEL" property="appNetPerLevel" jdbcType="VARCHAR" />
    <result column="CIP_KEYBOARD_PER_LEVEL" property="cipKeyboardPerLevel" jdbcType="VARCHAR" />
    <result column="CER_PER_LEVEL" property="cerPerLevel" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    DEVICE_NO, LATEST_ACCESS_TM, IP, BASE_STATION, LONGITUDE, LATITUDE, PROVINCE, CITY, 
    COUNTY, HARDWARE_STAT_BMP, ERROR_INF, ANDROID_VERSION, HW_VERSION, SP_VERSION, ROM_VERSION, 
    KERNEL_VERSION, NETWORK_STATUS, NETWORK_TYPE, PARAM_VER, CREATE_TM, LAST_MODIFY_TM, 
    SHIFT_FLAG, SECURITY_TYPE, DEVICE_MODEL_NO, CPU_ID, FLASH_ID, MAC, HASH, IDENTIFY_STATUS, 
    SSID, BSSID, DNS, IMEI, SCREEN_SIZE, SCREEN_RESOLUTION, MEMORY_SIZE, BATTERY_RATE, ROM_RATE, ROM_SIZE
    ,SHIFT_LONGITUDE,SHIFT_LATITUDE
  </sql>
  
  <update id="updatePermission" parameterType="fthink.entity.TermDyn">
		update t_term_dyn set 
		<if test="cardReaderPerLevel!=null and cardReaderPerLevel!=''">
			CARD_READER_PER_LEVEL = #{cardReaderPerLevel}
		</if>
		<if test="appNetPerLevel!=null and appNetPerLevel!=''">
			APP_NET_PER_LEVEL = #{appNetPerLevel}
		</if>
		<if test="cipKeyboardPerLevel!=null and cipKeyboardPerLevel!=''">
			CIP_KEYBOARD_PER_LEVEL = #{cipKeyboardPerLevel}
		</if>
		<if test="cerPerLevel!=null and cerPerLevel!=''">
			CER_PER_LEVEL = #{cerPerLevel}
		</if>
		where DEVICE_NO = #{deviceNo}
	</update>
  
</mapper>